{% extends 'base.html.twig' %}

{% block title %}Connexion -
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include "header.html.twig" %}
	<div class=" min-h-screen bg-gray-100 flex justify-center items-center mt-8">
		<div class="login w-full max-w-3xl shadow-md rounded px-8 pt-6 pb-8 mb-4">
			<div
				class="text-center mb-8">
				<h1 class="text-3xl font-bold text-gray-800">Connexion</h1>
			</div>
			<form method="post">
				{% if error %}
					<div class="mb-4">
						<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
							<strong class="font-bold">Oops!</strong>
							<span class="block sm:inline">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
						</div>
					</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-4">
						<div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
							<strong class="font-bold">Success!</strong>
							<span class="block sm:inline">Vous êtes bien connecté
								{{ app.user.userIdentifier }}.</span>
						</div>
					</div>
				{% endif %}
				<div class="mb-4">
					<label class="block text-gray-700 font-bold mb-2" for="inputEmail">
						Email
					</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class=" bg-white shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" autocomplete="email" required autofocus>
				</div>
				<div class="mb-6">
					<label class="block text-gray-700 font-bold mb-2" for="inputPassword">
						Mot de passe
					</label>
					<input type="password" name="password" id="inputPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" autocomplete="current-password" required>
				</div>
				<div class="flex items-center">

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="flex items-center flex-grow">
						<div>
							<label class='flex-grow-0'>
								<input type="checkbox" name="_remember_me" class="mr-2">
								Se rappeler de moi
							</label>
						</div>
					</div>
				</div>
				<div class="flex items-center justify-center mt-6">
					<button class="bg-gradient-to-r from-cyan-700 to-cyan-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
						Se connecter
					</button>
				</div>
				<span>Pas encore de compte?</span>
				<span>
					<a href="{{ path('app_register_choice') }}" class="text-blue-600">
						Clique</a>
				</span>
			</div>
		</form>
	</div>
</div>{% endblock %}
