{% extends "base.html.twig" %}

{% block body %}
	{% if not user %}
		<div class="text-center h-xl">
			<p class="text-xl font-bold p-16">Vous devez être connecté pour voir ce contenu</p>
			<a href="{{ path('app_login') }}" class="bg-orange-500 hover:bg-orange-400 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded">Se connecter</a>
			<a href="{{ path('app_register_choice') }}" class="bg-orange-500 hover:bg-orange-400 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded">Créer un compte</a>
		</div>
	
	{% else %}
		
	{% include "header.html.twig" %}
	<div class="px-4 mx-auto max-w-screen-xl lg:px-6">
		<ul class="flex flex-wrap text-sm font-medium text-center h-11" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
			<li class="mr-4" role="presentation">
				<button class="inline-block p-3 border-b-2 rounded-t-xl aria-selected:border-[#F26C24] aria-selected:text-[#F26C24] hover:text-orange-500 hover:border-gray-300 bg-desk bg-top" id="presentation-tab" data-tabs-target="#presentation" type="button" role="tab" aria-controls="presentation" aria-selected="true">Présentation</button>
			</li>
			<li class="mr-4" role="presentation">
				<button class="inline-block p-3 border-b-2 rounded-t-xl aria-selected:border-[#F26C24] aria-selected:text-[#F26C24] hover:text-orange-500 hover:border-gray-300 bg-desk bg-top" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Liste des formations</button>
			</li>
			<li role="presentation">
				<button class="inline-block p-3 border-b-2 rounded-t-xl aria-selected:border-[#F26C24] aria-selected:text-[#F26C24] hover:text-orange-500 hover:border-gray-300 bg-desk bg-top" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Contacts</button>
			</li>
		</ul>
	</div>
	<div id="myTabContent">
		<div class="hidden " id="presentation" role="tabpanel" aria-labelledby="presentation-tab">
			<section class="bg-desk bg-no-repeat bg-cover bg-center">

				<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
					<div class="flex items-center">
						<img src="{{ user.logo }}" alt="logo" class="shadow-2xl rounded">
						<h2 class="text-5xl font-bold m-auto">{{ user.name }}</h2>
					</div>

					<div class="w-full">
						<h3 class="text-xl font-bold pt-8">Description du centre de formation :
							{{ user.name }}
						</h3>
						<article class="text-sm py-8 leading-6 font-medium pb-16">
							{{ user.UserFormation.description }}
						</article>
					</div>


					<table class="table-auto border-collapse border border-orange-500 w-full text-center shadow-2xl">
						<thead>
							<tr>
								<th class="border border-orange-500 py-2 px-4">Nom</th>
								<th class="border border-orange-500 py-2 px-4">Logo</th>
								<th class="border border-orange-500 py-2 px-4">Domaine</th>
								<th class="border border-orange-500 py-2 px-4">Lien du site web</th>
							</tr>
						</thead>
						<tbody class="font-medium">
							<tr>
								<td class="border border-orange-500 py-2 px-4">{{ user.name }}</td>
								<td class="border border-orange-500 py-2 px-4"><img src="{{ user.logo }}" alt="Logo" class="w-10 m-auto"></td>
								<td class="border border-orange-500 py-2 px-4">{{ user.UserFormation.domain }}</td>
								<td class="border border-orange-500 py-2 px-4">
									<a href="{{ user.UserFormation.webSite }}">{{ user.name }}</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

			</section>
		</div>
		<div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
			<section class="bg-desk bg-no-repeat bg-cover bg-center">
				<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
					<div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
						<h2 class="mb-4 text-3xl lg:text-4xl font-bold color shadowText">Publications</h2>
						<p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, eius voluptatum nulla illo id sunt!</p>
					</div>
					<div class="grid gap-8 lg:grid-cols-2"></div>
				</div>
			</section>
		</div>
		<div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
			<p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the
				<strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
		</div>
		<div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
			<p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the
				<strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
		</div>
	</div>


	{{include('footer.html.twig')}}
{% endif %}
{% endblock %}
