{% extends 'base.html.twig' %}

{% block title %}Publications
{% endblock %}

{% block body %}
{% include "header.html.twig" %}
	<section class="bgImg">
		<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
			<div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
				<h2 class="mb-4 text-3xl lg:text-4xl font-bold color shadowText">Les annonces</h2>
				<p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Bienvenue dans notre section annonce, retrouvé toutes les dernières publications de nos utilisateurs</p>
			</div>
			<div class="flex justify-between flex-col-reverse xl:flex-row">
				<div class="xl:w-3/4">
					{% if posts is empty %}
						<h1 class="text-xl text-center">Aucun résultat ne correspond à votre recherche</h1>
					{% endif %}
					{% for post in posts %}
						<article class="p-6 rounded-lg shadow-md bg-slate-50 shadow-orange-400 shadow-top-orange-200 border border-orange-200 hover:scale-105 duration-300 mb-10">
							<div class="flex justify-between items-center mb-5 text-gray-500">
								<span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
									<svg class="mr-1 w-3 h-3" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
										<path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path>
									</svg>
									{{ post.publicationUser.status }}
								</span>
								<span>Type: {{post.type}}</span>
								<span class="text-sm">{{ post.createdAt|ago(locale='fr') }}</span>
							</div>
							<h2 class="mb-2 text-2xl font-bold color shadowText">
								{{ post.title }}
							</h2>
							<p class="mb-5 font-light text-gray-500 dark:text-gray-400">{{ post.content | cut }}...</p>
							<div class="flex justify-between items-center">
								<div class="flex items-center space-x-4">
									<img class="w-7 h-7 rounded-full" src="{{ asset('profilePicture/' ~ post.publicationUser.logo) }}" alt="Image utilisateur"/>
									<span class="font-medium color">
									{{ post.publicationUser.name}}
									</span>
								</div>
								{% if verify %}
									<a href="#" class="inline-flex items-center text-white hover:underline hover:underline-offset-4 font-bold px-3 py-2 rounded-full transition ease-in-out delay-150 bg-orange-600 opacity-50 hover:-translate-y-1 hover:scale-110 hover:bg-orange hover:opacity-100 duration-300">
										En savoir plus
									</a>
								{% else %}
									<a href="{{path('app_publication_one', {id : post.id})}}" class="inline-flex items-center text-white hover:underline hover:underline-offset-4 font-bold px-3 py-2 rounded-full transition ease-in-out delay-150 bg-orange-600 opacity-50 hover:-translate-y-1 hover:scale-110 hover:bg-orange hover:opacity-100 duration-300">
										En savoir plus
									</a>
								{% endif %}	
							</div>
						</article>
					{% endfor %}
					<div class="navigation text-center">
						{{ knp_pagination_render(posts, 'component/pagination.html.twig') }}
					</div>
				</div>
				<div class="xl:w-1/5 hidden xl:block">
					<div class="bg-white p-4 border-orange-100 border-2 shadow-[#F26C24] shadow-md rounded-lg text-gray-600">
						{{form_start(form)}}
							{{form_widget(form)}}
							<button class="items-center text-white hover:underline hover:underline-offset-4 font-bold px-3 py-2 rounded-full transition ease-in-out delay-150 bg-orange-600 opacity-50 hover:-translate-y-1 hover:scale-110 hover:bg-orange hover:opacity-100 duration-300">Rechercher</button>
						{{form_end(form)}}
						<div class="my-3">
							<span class="text-xl underline underline-offset-4">Trie par :</span>
							{{form_start(formSelect)}}
								{{form_widget(formSelect)}}
								<button class="flex items-center text-white hover:underline hover:underline-offset-4 font-bold px-3 py-2 rounded-full transition ease-in-out delay-150 bg-orange-600 opacity-50 hover:-translate-y-1 hover:scale-110 hover:bg-orange hover:opacity-100 duration-300">Trier</button>
							{{form_end(formSelect)}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{{ include('footer.html.twig') }}
{% endblock %}

