{% extends "base.html.twig" %}

{% block body %}
    <h1>{{user.userEntreprise.name}}</h1>
    <div class="flex justify-center w-full">
        {# <div>
            <span id="annonce" class="bg-slate-200 pointer-events-auto cursor-default">Annonce</span>
            <div id="annonceShow" class="w-full bg-slate-200 hidden mt-2">
                {% for publications in user.publications %}
                    <p>{{publications.content}}</p>
                {% endfor %}
                <p>Caché</p>
            </div>
        </div>
        <div>
            <span id="presentation" class="bg-slate-200 pointer-events-auto cursor-default static">Presentation</span>
            <div id="presentationShow" class="w-full bg-slate-200 hidden mt-2 absolute mx-auto">
                <p>{{user.userEntreprise.description}}</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam officia delectus autem magnam maxime illum earum itaque similique consequuntur quos animi, libero harum nihil deserunt sunt. Eos est tenetur unde.</p>
            </div>
        </div>
        <div>
            <span id="contact" class="bg-slate-200 pointer-events-auto cursor-default">Contact</span>
            <div id="contactShow" class="w-full h-screen bg-slate-200 hidden mt-2 absolute">
                <span>{{user.tel}}</span>
                <span>{{user.email}}</span>
            </div>
        </div>
    </div> #}
    <div class="flex flex-col w-3/4 mx-auto text-center">
            <div class="text-center">
                <button id="annonce" class="bg-slate-200 cursor-pointer focus:bg-slate-100 focus:text-[#F26C24] focus:ring focus:ring-[#F26C24] p-2 rounded-t-lg">Annonce</button>
                <button id="presentation" class="bg-slate-200 focus:bg-slate-100 focus:text-[#F26C24] focus:ring focus:ring-[#F26C24] cursor-pointer p-2 rounded-t-lg">Presentation</button>
                <button id="contact" class="bg-slate-200 cursor-pointer focus:bg-slate-100 focus:text-[#F26C24] focus:ring focus:ring-[#F26C24] p-2 rounded-t-lg">Contact</button>
            </div>
            <div>
                <div id="annonceShow" class="w-full h-fit bg-slate-200 hidden mt-2  rounded-2xl">
                    {% if user.publications is empty %}
                        <p>Cette section affichera l'ensemble des annonces de l'entreprise</p>
                        {% else %}
                            {% for publications in user.publications %}
                                <p>{{publications}}</p>
                            {% endfor %}
                    {% endif %}
                </div>
                <div id="presentationShow" class="w-full h-fit bg-slate-200 hidden mt-2 rounded-2xl">
                    <p>{{user.userEntreprise.description}}</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam officia delectus autem magnam maxime illum earum itaque similique consequuntur quos animi, libero harum nihil deserunt sunt. Eos est tenetur unde.</p>
                </div>
                <div id="contactShow" class="w-full h-fit bg-slate-200 hidden mt-2 rounded-2xl">
                    <span>{{user.tel}}</span>
                    <span>{{user.email}}</span>
                </div>
            </div>
        </div>
   </div>
{% endblock %}