{% extends "base.html.twig" %}

{% block body %}
{% include "header.html.twig" %}
<div class="flex flex-col">
    <div class="flex justify-around w-1/2 mx-auto bg-slate-200 my-10 p-4 rounded-xl">
        <h1 class="text-xl font-bold">{{user.userEntreprise.name}}</h1>
        <div>
            <img src="{{user.userEntreprise.logo}}" alt="logo de la société">
        </div>
    </div>
    <div class="flex justify-center w-full">
        <div class="flex flex-col w-1/2">
            <div class="text-center">
                <button id="annonce" class="bg-slate-200 cursor-pointer focus:bg-slate-100 focus:text-[#F26C24] focus:ring focus:ring-[#F26C24] p-2 rounded-t-lg m-0">Annonce</button>
                <button id="presentation" class="bg-slate-200 focus:bg-slate-100 focus:text-[#F26C24] focus:ring focus:ring-[#F26C24] cursor-pointer p-2 rounded-t-lg">Presentation</button>
                <button id="contact" class="bg-slate-200 cursor-pointer focus:bg-slate-100 focus:text-[#F26C24] focus:ring focus:ring-[#F26C24] p-2 rounded-t-lg">Contact</button>
            </div>
            <div class="">
                <div id="annonceShow" class="w-full h-fit bg-slate-200 mt-2 rounded-2xl p-10">
                    {% if publications is empty %}
                        <p>Cette section affichera l'ensemble des annonces de l'entreprise</p>
                        {% else %}
                            <div class="flex justify-around flex-wrap space-y-4">
                            {% for publication in publications %}
                                <div class="bg-white rounded-lg p-4 border-2 border-orange-200 flex flex-col space-y-4">
                                    <div class="flex justify-between items-center">
                                        <span>Type: {{publication.type}}</span>
                                        <h1 class="text-xl font-semibold first-letter:font-bold mx-2">{{publication.title}}</h1>
                                        <span class="italic text-sm">publié {{ publication.createdAt|ago(locale='fr') }}</span>
                                    </div>
                                    <div>
                                        <span class="underline underline-offset-4">Description du poste :</span>
                                        <p>{{publication.content}}</p>
                                    </div>
                                    <div class="flex">
                                        <div class="flex space-x-4 items-center">
                                            <div class="w-10 h-10 rounded-full overflow-hidden">
                                                <img src="{{user.userEntreprise.logo}}" alt="logo de la société">
                                            </div>
                                            <span class="text-lg font-bold">{{user.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                    {% endif %}
                </div>
                <div id="presentationShow" class="w-full h-fit bg-slate-200 hidden mt-2 rounded-2xl p-10">
                    <h1 class="text-xl">Présentation de l'entreprise</h1>
                    <p>{{user.userEntreprise.description}}</p>
                </div>
                <div id="contactShow" class="w-full h-fit bg-slate-200 hidden mt-2 rounded-2xl p-10">
                    <span>{{user.tel}}</span>
                    <span>{{user.email}}</span>
                </div>
            </div>
            {# {% else %}
            <div class="text-center">
                <button id="annonce" class="bg-slate-200 cursor-pointer focus:bg-slate-100 focus:text-[#F26C24] focus:ring focus:ring-[#F26C24] p-2 rounded-t-lg m-0">Annonce</button>
                <button id="presentation" class="bg-slate-200 focus:bg-slate-100 focus:text-[#F26C24] focus:ring focus:ring-[#F26C24] cursor-pointer p-2 rounded-t-lg">Presentation</button>
                <button id="contact" class="bg-slate-200 cursor-pointer focus:bg-slate-100 focus:text-[#F26C24] focus:ring focus:ring-[#F26C24] p-2 rounded-t-lg">Contact</button>
            </div>
            <div class="">
                <div id="annonceShow" class="w-full h-fit bg-slate-200 hidden mt-2 rounded-2xl p-10">
                    {% if publications is empty %}
                        <p>Cette section affichera l'ensemble des annonces de l'entreprise</p>
                        {% else %}
                            <div class="flex justify-around flex-wrap space-y-4">
                            {% for publication in publications %}
                                <div class="bg-white rounded-lg p-4 border-2 border-orange-200 flex flex-col space-y-4">
                                    <div class="flex justify-between items-center">
                                        <span>Type: {{publication.type}}</span>
                                        <h1 class="text-xl font-semibold first-letter:font-bold mx-2">{{publication.title}}</h1>
                                        <span class="italic text-sm">publié {{ publication.createdAt|ago(locale='fr') }}</span>
                                    </div>
                                    <div>
                                        <span class="underline underline-offset-4">Description du poste :</span>
                                        <p>{{publication.content}}</p>
                                    </div>
                                    <div class="flex">
                                        <div class="flex space-x-4 items-center">
                                            <div class="w-10 h-10 rounded-full overflow-hidden">
                                                <img src="{{user.userEntreprise.logo}}" alt="logo de la société">
                                            </div>
                                            <span class="text-lg font-bold">{{user.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                    {% endif %}
                </div>
                <div id="presentationShow" class="w-full h-fit bg-slate-200 hidden mt-2 rounded-2xl p-10">
                    <p>{{user.userEntreprise.description}}</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam officia delectus autem magnam maxime illum earum itaque similique consequuntur quos animi, libero harum nihil deserunt sunt. Eos est tenetur unde.</p>
                </div>
                <div id="contactShow" class="w-full h-fit bg-slate-200 hidden mt-2 rounded-2xl p-10">
                    <span>{{user.tel}}</span>
                    <span>{{user.email}}</span>
                </div>
            </div>
            {% endif %} #}
            
            
        </div>
    </div>
</div>
{% include "footer.html.twig" %}
{% endblock %}