{% block header %}
	<header>

		<div class="bg-[url('https://i0.wp.com/scx2.b-cdn.net/gfx/news/hires/2018/computernetw.jpg')] opacity-80 relative">

			<div class="bg-white bg-opacity-80 w-full h-36">

				<div class="flex flex-wrap justify-between">

					<div class="lg:hidden mt-8 ml-8 relative">

						<button class="peer focus:bg-[#F26C24] focus:text-gray-200 transition-all duration-200"><img class="w-16 h-16" src="{{ asset('/images/menu_burger_livres.png')}}"></button>
						<div class=' w-80 absolute top-5 z-10 after:content-[""] after:inline-block after:absolute after:top-0 after:bg-white/40 after:w-full after:h-full after:-z-20 after:blur-[2px] after:rounded-lg peer-focus:top-12 peer-focus:opacity-100 peer-focus:visible transition-all duration-300 invisible  opacity-0'>
							{# NavBar en Responsive #}
							<ul class='py-6 px-3 flex flex-col gap-3'>
								<li class="mr-24">
									<a class="text-gray-800 hover:font-bold hover:text-[#F26C24]" href="{{ path('app_home') }}">Accueil</a>
								</li>
								<li class="mr-24">
									<a class="text-gray-800 font-bold hover:text-[#F26C24]" href="#">A propos</a>
								</li>
								<li class="mr-24">
									<a class="text-gray-800 font-bold hover:text-[#F26C24]" href="{{ path('app_formation') }}">Centres de formation</a>
								</li>
								<li class="mr-24">
									<a class="text-gray-800 font-bold hover:text-[#F26C24]" href="{{ path('app_company') }}">Entreprises</a>
								</li>
								<li class="">
									<a class="text-gray-800 font-bold hover:text-[#F26C24]" href="{{ path('app_user') }}">Candidats</a>
								</li>
							</ul>

						</div>

					</div>

					<a href="{{ path('app_home') }}" class="lg:w-full lg:flex lg:justify-center mt-8 mr-8 lg:mr-0"><img class="w-16 h-16" src="{{ asset('/images/logocrmc.png')}}"></a>
					<div class="w-full mt-2 text-center">
						<h1>
							<span class="text-[#F26C24]">[</span>IT<span class="text-[#F26C24]">]</span>car.Net
						</h1>
					</div>

				</div>
        
			</div>

		</div>

		<nav class="hidden space-x-8 lg:flex lg:justify-center p-6 bg-white">
			<img src="{{ asset('/images/feuilleOrange.png') }}" alt="une feuille orange" class='w-24 z-10 absolute top-48 right-52'>
			<ul class="flex items-center text-xl">
				<li class="mr-12">
					<a class="text-gray-800 font-semibold hover:text-[#F26C24] hover:underline underline-offset-8" href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li class="mr-12">
					<a class="text-gray-800 font-semibold hover:text-[#F26C24] hover:underline underline-offset-8" href="{{ path('app_publication') }}">Les annonces</a>
				</li>
				<li class="mr-12">
					<a class="text-gray-800 font-semibold hover:text-[#F26C24] hover:underline underline-offset-8" href="{{ path('app_formation') }}">Centres de formation</a>
				</li>
				<li class="mr-12">
					<a class="text-gray-800 font-bold hover:text-[#F26C24] hover:underline underline-offset-8" href="{{ path('app_company') }}">Entreprises</a>
				</li>
				<li class="mr-12">
					<a class="text-gray-800 font-semibold hover:text-[#F26C24] hover:underline underline-offset-8" href="{{ path('app_user') }}">Candidats</a>
				</li>
				{% if app.user %}
					{% if app.user.logo %}
						<li class="mr-2 flex items-center">
							{% if app.user.roles[0] == 'ROLE_FORMATION' %}
								<a href="{{ path('app_formation_profil', {id : app.user.id } )}}">
									<img class="w-8 h-8 rounded-full border-4 border-white mx-auto" src="{{ asset('profilePicture/' ~ app.user.logo) }}" alt="{{ app.user.firstname }}">
								</a>
							{% elseif app.user.roles[0] == 'ROLE_COMPANY' %}
								<a href="{{ path('app_company_profil') }}">
									<img class="w-8 h-8 rounded-full border-4 border-white mx-auto" src="{{ asset('profilePicture/' ~ app.user.logo) }}" alt="{{ app.user.firstname }}">
								</a>
							{% elseif app.user.roles[0] == 'ROLE_USER' %}
								<a href="{{ path('app_profil_user', {id: app.user.id} ) }}">
									<img class="w-8 h-8 rounded-full border-4 border-white mx-auto" src="{{ asset('profilePicture/' ~ app.user.logo) }}" alt="{{ app.user.firstname }}">
								</a>	
							{% endif %}
						</li>
						<li class="mr-12 text-gray-800 font-bold">
							<p> ✅ {{ app.user.firstname }}</p>
						</li>
					{% endif %}
					<li class="flex items-center">
						<button><a target="_blank" href="{{ path('app_logout') }}"><img src="{{ asset('/images/icons8-logout-rounded-30.png') }}"></a></button>
					</li>
				{% else %}
					<li class="flex items-center">
						<button><a target="_blank" href="{{ path('app_login') }}"><img src="{{ asset('/images/icons8-connexion-30.png') }}"></a></button>
					</li>
				{% endif %}
			</ul>
		</nav>
	</header>
{% endblock %}